<!DOCTYPE html>
<html>
<head>
  <title>Phccontactor</title>
  <%= stylesheet_link_tag    "phccontactor/application", media: "all" %>
  <%= javascript_include_tag "phccontactor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
